nextflow.enable.dsl=2
$INITIAL_RUN_TYPE="gzip"
google.batch.bootDiskSize = "1000GB"

params.reads                        = ""        //* @input    @label:"FASTQ Input"              @file @validate:{regex_message:"File names should start with letters (numbers are not allowed).", regex:"^[a-zA-Z].*$"}
params.mate                         = "pair"    //* @dropdown @label:"Library Type".            @options:"single","pair" @description:"Single-End or Paired-End Data for reads."
params.genome_build                 = ""        //* @dropdown @label:"Genome Build"             @options:"human_hg19_refseq, human_hg38_gencode_v28, human_hg38_gencode_v34, mouse_mm10_refseq, mouse_mm10_gencode_m25, mousetest_mm10" @description:"Annotation(GTF) files will be used for the selected genome build."
params.groups_file                  = ""        //* @input    @label:"Groups file"              @single_file @editor:{"collection_autofill":{"column":"1","input_name":"reads"}, "type":"spreadsheet","filename":"metadata.tsv","separator":"tab","default":[["sample_name","group"]]}
params.compare_file                 = ""        //* @input    @label:"Comparison file"          @single_file @editor:{"type":"spreadsheet","filename":"comparisons.tsv","separator":"tab","default":[["treatment","control","names"]]}
params.run_FastQC                   = "yes"     //* @dropdown @label:"Run FastQC"               @options:"yes","no" @description:"Provides quality control checks on raw sequence data. <a target="_blank" href="https://www.bioinformatics.babraham.ac.uk/projects/fastqc/">FastQC Documentation Link</a>"
params.run_Adapter_Removal          = "no"      //* @dropdown @label:"Remove Adapters"          @options:"yes","no" @show_settings:"Adapter_Removal" @description:"Removes 3' adapter sequences. <a target="_blank" href="http://www.usadellab.org/cms/uploads/supplementary/Trimmomatic/TrimmomaticManual_V0.32.pdf">Trimmomatic Documentation Link</a>"
params.run_UMIextract               = "no"      //* @dropdown @label:"Extract UMIs"             @options:"yes","no" @show_settings:"UMIextract" @description:"Extracts UMI sequences using a pattern and append the UMI sequence to the header. <a target="_blank" href="https://umi-tools.readthedocs.io/en/latest/reference/extract.html">UMItools Documentation Link</a>"
params.run_Trimmer                  = "no"      //* @dropdown @label:"Trim Reads"               @options:"yes","no" @show_settings:"Trimmer" @description:"Shortening reads in FASTQ files (removing barcodes or noise). <a target="_blank" href="http://hannonlab.cshl.edu/fastx_toolkit/commandline.html#fastx_trimmer_usage">Fastx Trimmer Documentation Link</a>"
params.run_Quality_Filtering        = "no"      //* @dropdown @label:"Filter Reads (Quality)"   @options:"yes","no" @show_settings:"Quality_Filtering" @description:"Filters out poor quality reads and trims poor quality bases. <a target="_blank" href="http://www.usadellab.org/cms/uploads/supplementary/Trimmomatic/TrimmomaticManual_V0.32.pdf">Trimmomatic Documentation Link</a> "
params.run_STAR                     = "yes"     //* @dropdown @label:"Run STAR"                 @options:"yes","no" @show_settings:"Map_STAR, Check_Build_STAR_Index" @description:"Splice-aware aligner that maps fastq reads to a reference genome. <a target="_blank" href="https://github.com/alexdobin/STAR">STAR Documentation Link</a> </br>"
params.run_TE_Transcripts           = "yes"     //* @dropdown @label:"Run TE Transcripts"       @options:"yes","no" @show_settings:"TE_Count"
params.run_DESeq2                   = "yes"     //* @dropdown @label:"Run DESeq2"               @options:"yes","no"  @show_settings:"Prepare_DESeq2"
params.run_Download_Genomic_Sources = "no"      //* @dropdown @label:"Download Genomic Sources" @options:"yes","no"  

_species = ""
_build = ""
_share = ""
_annotation = ""

//* autofill
if (params.genome_build == "mousetest_mm10"){
    _species = "mousetest"
    _build = "mm10"
    _annotation = "refseq_170804"
} else if (params.genome_build == "human_hg19_refseq"){
    _species = "human"
    _build = "hg19"
    _annotation = "refseq_020216"
} else if (params.genome_build == "human_hg38_gencode_v28"){
    _species = "human"
    _build = "hg38"
    _annotation = "gencode_v28"
} else if (params.genome_build == "human_hg38_gencode_v34"){
    _species = "human"
    _build = "hg38"
    _annotation = "gencode_v34"
} else if (params.genome_build == "mouse_mm10_refseq"){
    _species = "mouse"
    _build = "mm10"
    _annotation = "refseq_011015"
} else if (params.genome_build == "mouse_mm10_gencode_m25"){
    _species = "mouse"
    _build = "mm10"
    _annotation = "gencode_m25"
}

if ($HOSTNAME == "default"){
    $SINGULARITY_IMAGE = "quay.io/ummsbiocore/rnaseq:4.0"
    $DOCKER_IMAGE = "quay.io/ummsbiocore/rnaseq:4.0"
    _share = "${params.DOWNDIR}/genome_data"
}

if (params.genome_build && $HOSTNAME){
    params.genome_source   = "https://web.dolphinnext.com/umw_biocore/dnext_data/genome_data/${_species}/${_build}/main/genome.fa"
    params.gtf_source      = "https://web.dolphinnext.com/umw_biocore/dnext_data/genome_data/${_species}/${_build}/${_annotation}/genes/genes.gtf"
    params.commondb_source = "https://web.dolphinnext.com/umw_biocore/dnext_data/genome_data/${_species}/${_build}/commondb/"
    
    params.genome       = "${_share}/${_species}/${_build}/main/genome.fa"
    params.genome_sizes = "${_share}/${_species}/${_build}/main/genome.chrom.sizes"
    params.bed          = "${_share}/${_species}/${_build}/${_annotation}/genes/genes.bed"
    params.gtf          = "${_share}/${_species}/${_build}/${_annotation}/genes/genes.gtf"
    params.rmsk_TE_gtf  = "${_share}/${_species}/${_build}/${_annotation}/genes/hammell_rmsk_TE.gtf"
    params.commondb     = "${_share}/${_species}/${_build}/commondb/"
    params.star_index   = "${_share}/${_species}/${_build}/${_annotation}/STARIndex"
    params.gtf2bed_path = "/bin/gtf2bed"
}
//* autofill